body {
    background: #f8e7ff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: auto;
    margin-top: 30px;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h1 {
    color: #a128ff;
}

.subtitle {
    color: #6a2ca8;
    margin-bottom: 20px;
}

.date-box {
    background: #d8b3ff;
    color: white;
    padding: 10px;
    border-radius: 12px;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 18px;
}

textarea {
    width: 100%;
    height: 160px;
    padding: 15px;
    border-radius: 12px;
    border: 2px solid #cba3ff;
    outline: none;
    resize: none;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background: #b35cff;
    border: none;
    color: white;
    border-radius: 12px;
    margin-top: 20px;
}

.history-btn {
    display: inline-block;
    margin-top: 30px;
    font-size: 18px;
    color: #7a2fba;
}

.card {
    background: #f3e3ff;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 15px;
    text-align: left;
    color: #6e2ea8;
}

.entry-date {
    font-weight: bold;
    margin-bottom: 5px;
}

.center {
    text-align: center;
}
